<form method="POST" action="/"> <!-- '/' - post to page were already on -->
	<div>
	<h2>Search for a movie:</h2>
	</div>
	<div>
		Movie Title:
		<input type="text" name="title" id="title" placeholder=""><p>
	</div>
	<div>
		<input type="submit" value="Search">
	</div>
</form>