<!DOCTYPE html>
<html>
<head>
	<title>My movies site</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="text-center">
	<div class="text-primary">
		<h1>OMDB Movie Database!</h1>
	</div>
<!-- inserting html to be rendered  -->
	<%- body %> 


	<hr>
</div>
</body>
</html>

<!-- // layout page - master page -->